::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--color-primary-400);
  color: var(--color-gray-300);
}